<h1 id='Invoices'>Invoices</h1>

  <div>
    <% @invoices.each do |invoice|%>
      <div id="invoice-<%= invoice.id %>">
          <a href="/invoices/<%= invoice.id %>">Invoice: <%= invoice.id %></a>

        <form action='/invoices/<%= invoice.id %>/edit' method='get'>
          <button type='submit'>Edit</button>
        </form>

        <form action='/invoices/<%= invoice.id %>' method='post'>
          <input type='hidden' name='_method' value='delete'>
          <button type='submit'>Delete</button>
        </form>
      </div>
    <% end %>
  </div>
