<h1 id='Invoices'>Invoice: <%= @invoice.id %> - <%= @invoice.status %></h1>

  <form action="/invoices/<%= @invoice.id %>/edit" method="GET">
    <input type='hidden' name='_method' value='delete'>
    <button type="submit">Edit</button>
  </form>

  <form id="delete" action="/invoices/<%= @invoice.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value='Delete'>
  </form>

  <table>
  <tr>
    <th> -Item ID- </th>
    <th> -Title- </th>
    <th> -Unit Price- </th>
    <th> -Quantity- </th>
  </tr>
  <% @invoice.invoice_items.each do |ii|%>
  <% @total_price += (ii.unit_price * ii.quantity) %>
  <tr>
    <td><%= ii.item.id %>
    <td><%= ii.item.title %></td>
    <td><%= number_to_currency(ii.unit_price) %></td>
    <td><%= ii.quantity %></td>
  </tr>
  <% end  %>
</table>

<h5> Total Price: <%= number_to_currency(@total_price) %>
