<h1>Merchants</h1>

<form action='/merchants/merchants-dashboard' method='get'>
  <input type='submit' value="Dashboard">
</form>

<a href='/merchants/new'>Create New Merchant</a>


<div>
  <% @merchants.each do |merchant|%>
    <div id="merchant-<%= merchant.id %>">
      <h2>
        <a href="/merchants/<%= merchant.id %>"><%= merchant.name %></a>
      </h2>

      <form action='/merchants/<%= merchant.id %>/edit' method='get'>
        <input id='edit' type='submit' name="Edit" value="Edit">
      </form>

      <form action='/merchants/<%= merchant.id %>' method='post'>
        <input type='hidden' name='_method' value='Delete'>
        <input type='submit' value='Delete'>
      </form>
    </div>
  <% end %>
</div>
