<h1 class='title'>Merchants</h1>

<a class='create-new' href='/merchants/new'>Create New Merchant</a>
<a class='dashboard' href='/merchants-dashboard'>Dashboard</a>


<div>
  <% @merchants.each do |merchant|%>
    <div id="merchant-<%= merchant.id %>" class='index-boxes'>
      <p>
        <a href="/merchants/<%= merchant.id %>"><%= merchant.name %></a>
      </p>

      <form action='/merchants/<%= merchant.id %>/edit' method='get'>
        <input id='edit' type='submit' name="Edit" value="Edit">
      </form>

      <form action='/merchants/<%= merchant.id %>' method='post'>
        <input type='hidden' name='_method' value='Delete'>
        <input type='submit' value='Delete'>
      </form>
    </div>
  <% end %>
</div>
